#table-products {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

#table-products tr > th {
    height: 30px;
}

.add-item, .edit-item {
    border: 1px solid #000;
    height: 60px;

}
.input--hidden {
    display: none;
}

.add-item {
    background: yellow;
}
.edit-item {
    background: rgba(0,128,255, 0.2);
}

.add-item td {
    padding: 5px;
    vertical-align: middle;
}

.add-item input[type=text] {
    height: 34px;
}